@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Separator */
hr {
    width: 10%;
    text-align: left;
    margin-left: 0;
}
.scroll-offset {
    scroll-margin-top: 250px;
}
/* Navbar */
.main-title{
    text-decoration: none;
}
.navbar {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 2rem;
}

.collapse {
    width: 100vh;
    height: auto;
    background-color: #212529;
    border: none;
}

.navbar-collapse.show .dropdown-menu {
    display: block !important;
}

.dropdown-item {
    background-color: transparent;
    transition: all 1.5s ease-in-out;
}

.dropdown-item:hover {
    background-color: #343a40 !important;
}


/* Header and Vision */
header {
    width: 100%;
    margin-bottom: 80px;
    padding: 20px;
}

.title-text {
    width: 100%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.hr1 {
    font-size: 5rem;
}

.hr2 {
    font-size: 3rem;
}

.hr3 {
    font-size: 4rem;
    padding: 20px;

}
/* 
TYPING EFFECT
*/
.type-box{
    background-color:#212529;
    border: 5px black;
    border-style:groove;
    color:rgb(22, 205, 9);
    width:fit-content;
    padding: 5px;
    opacity: 70%;
}
.typing-effect {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid rgb(230, 223, 223);
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(154, 25, 25); }
}

/* Titles */
.title-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 8rem;
    padding: 30px;
    position: relative;
    transition: all 0.1s ease-in-out;    
}

.t2, .t4 {
    align-self: center; /* Align left */
    text-align: left;
}

.t1, .t3 {
    align-self: center; /* Align right */
    text-align: right;
}

/* Body */
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poiret One', sans-serif;
    color: white;
}
/* 
Numbers / Bullets
*/

.margin-up-down {
    margin:100px 0px;
}

.box {
    /* border: 2px solid black; */
    /* position:relative; */
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    
}

.link-icon {
    color: #343a40;
    font-size: 7rem;
    transition: all 1s ease;
}

.link-icon-s {
    font-size: 6rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.dot {
    /* position: absolute; */
    color: #ffffff;
    font-size: 0.5rem;
    /* transform: translate(-50%, -50%); */
    transition: opacity 2s ease-in;
}

.box:hover {
    background-color: transparent;
}

.box:hover .link-icon {
    color: #ffffff;
}

/* .box:hover .dot {
    color: #ffffff;
} */

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    width: 60%;
    font-size: 2rem;
    text-align: justify;
    padding-left: 2%;

    
}

/* 
MY STORY
*/
.bottom-container{
    padding: 20px;
}

.title-text-2 {
    width: 100%;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

/* Get to Know Me Links */
.link-main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.box-gtnm {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
}

.link-icon-s-gtnm {
    color: #343a40;
    font-size: 7rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.box-gtnm:hover {
    background-color: transparent;
}

.box-gtnm:hover .link-icon-s-gtnm {
    color: #ffffff;
}

.item{
    margin:0px 10px;
}
.link-main > h1 {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 4.5rem;
}

.link-container {
    /* border: 3px solid black; */
    display: flex;
    /* justify-content:space-evenly; */
    /* align-items:center; */
    height: fit-content;
    width: fit-content;
    padding: 40px;
}
#title1 {
    font-weight: bold;
    opacity: 0;
    transition-delay: 6s;
    transition: all 5s ease-in-out;
}
#icon1 {
    transition-delay: 1s;
}
#icon2 {
    transition-delay: 2s;
}
#icon3 {
    transition-delay: 3s;
}
/* Arrow to Top */
.arrow-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 0.2;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-box:hover {
    opacity: 1;
}

.arrow-box:hover {
    color: #000000;
    transform: scale(1.04);

}

.arrow-icon:active {
    color: #ffffff;
    transition: 0ms;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-icon {
    font-size: 4rem;
    animation: bounce 3s infinite;
    color: #000000;
    transition: all 0.5s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

/* Footer */
footer {
    background-color: #212529;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer h4 {
    font-size: 2rem;
    margin-bottom: 10px;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer a {
    color: #00e5ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* 
under construction
*/
.main-under-construction{
    display: flex;
    align-items: center;
    justify-content: center;
}
.under-construction{
    /* border: 4px white;
    border-style: groove; */
    width:100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.under-construction-icon{
    font-size: 7rem;
    color: black;
}
.under-construction:hover .under-construction-icon{
    color: rebeccapurple;
    font-size: 8rem;
    transition: all 2s ease-in-out;
}
/* 
SMALLER SCREENS
*/
@media (max-width: 768px){
    .title-text{
        width: 100%;
        justify-content:center;
        /* align-items:center; */
    }
    .title-text-2{
        width: 100%;
        justify-content:center;
        /* align-items:center; */
    }
    .text{
        width: 90%;
        justify-content:center;
        padding-top: 50px;
    }
    .container-1{
        display:flex;
        flex-direction: column;
    }
}
