@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* 
SEPARATOR
*/
hr{
    width:30%;
    text-align:left;
    margin-left:0;
}

/* 
NAVBAR
*/
.navbar {
    /* height:20%; */
    margin-bottom: 200px;
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2rem;
}

.collapse {
    width: 100vh;
    height: auto;
    background-color: #212529;
    border: none;
}
.navbar-collapse.show .dropdown-menu{
    display: block !important;
}
.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color:#343a40 !important;
}
/* 
HEADER and VISION
*/
header {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 80px;
    padding:20px;
}
.title-text{
    padding: 10px;
    width:75%;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}
.hr1{
    font-size: 5rem;
}
.hr2{
    font-size: 3rem;
}
.hr3{
    font-size: 4rem;
    margin: 20px;
}
.arr{
    font-size:4rem ;
}
.title-text:hover .arr {
    font-size: 7rem;
    opacity: 0.5;
    color: #000000;
    transition: all 2s ease-in-out;
}
/* 
Titles
*/
.title {
    margin-top: 330px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin:auto;
    font-size: 4rem;
    padding: 30px;
    box-sizing: border-box;
}

.t2, .t4 {
    align-self: flex-start; /* Align left */
    text-align: left;
    /* border: 2px solid black; */
}

.t1, .t3 {
    align-self:flex-end; /* Align right */
    text-align: right;
    /* border: 2px solid black; */

}


/* 
BODY
*/

body {
    max-width: 200vh;
    /* height: 100vh; */
    font-family: 'Poiret One', sans-serif;
    background-color: #343a40;
    color: white;
    /* margin-top: 60px; Compensate for fixed navbar */
}
/* .main{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
} */
/* 
NUMBERS/ICONS
*/
.margin-top{
    margin-top: 100px;
}
.margin-bot{
    margin-bottom: 200px;
}
.margin-up-down{
    margin:100px 0px;
}
.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
.link-icon {
    color: #343a40;
    font-size: 7rem;
    transition: all 1s ease;
}
.link-icon-s{
    font-size: 6rem;

}

.dot {
    position: absolute;
    color: #343a40;
    font-size: 1rem;
    top: 83%;
    left: 100%;
    transform: translate(-50%, -50%);
    transition:0.5s ease-in;
}
/* .box:hover {
    background-color: transparent;
    
} */

.box:hover .link-icon {
    color: #ffffff;
    /* left: 60px; */
    
}

.box:hover .dot {

    color: #ffffff;
    /* right: -70px; */
    
}
.text{
    font-family:'Times New Roman', Times, serif;
    margin-left: 20px;
    width: 85%;
    font-size: 2rem;
    text-align: justify;
}

/* 
ARROW TO TOP
*/
.arrow-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 0.2;
    
}

.arrow-icon {
    color: #000000;
    font-size: 4rem;
    transition: all 0.5s ease;
}

.arrow-icon:hover {
    color: #000000;
    transform: scale(1.3);
}

.arrow-icon:active {
    color: #ffffff;
    transform: scale(0.5);
    transition: 0ms;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 
GET TO KNOW ME LINKS
*/
.link-main {
    /* border: 2px solid black; */
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.link-main > h1 {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 4.5rem;
}

.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 25%;
    height: 180px;
    width: 250px;
    padding: 10px;
}


/* 
FOOTER
*/
footer {
    height: 15vh;
}
