@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Separator */
hr {
    width: 10%;
    text-align: left;
    margin-left: 0;
}
/* counter margin */
.counter-margin{
    margin-top: 200px;
}

/* Navbar */
.main-title{
    text-decoration: none;
}
.navbar {
    margin-bottom: 200px;
    font-size: 2rem;
}

.navbar-brand {
    font-size: 2rem;
}

.collapse {
    width: 100vh;
    height: auto;
    background-color: #212529;
    border: none;
}

.navbar-collapse.show .dropdown-menu {
    display: block !important;
}

.dropdown-item {
    background-color: transparent;
    transition: all 1.5s ease-in-out;
}

.dropdown-item:hover {
    background-color: #343a40 !important;
}


/* Header and Vision */
header {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 20px;
}

.title-text {
    width: 65%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.hr1 {
    font-size: 5rem;
}

.hr2 {
    font-size: 3rem;
}

.hr3 {
    font-size: 4rem;
    margin: 20px;
}

/* 
BOUNCING ARROW
*/
.arr {
    font-size: 4rem;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
}

.arr {
    font-size: 6rem; /* Adjust as needed */
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

/* 
TYPING EFFECT
*/
.type-box{
    background-color:#212529;
    color:rgb(22, 205, 9);
    width: fit-content;
}
.typing-effect {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid rgb(230, 223, 223);
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(154, 25, 25); }
}


/* Titles */
.title {
    margin-top: 330px;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 4rem;
    padding: 30px;
    box-sizing: border-box;
}

.t2, .t4 {
    align-self: flex-start; /* Align left */
    text-align: left;
}

.t1, .t3 {
    align-self: flex-end; /* Align right */
    text-align: right;
}

/* Body */
body {
    max-width: 200vh;
    font-family: 'Poiret One', sans-serif;
    background-color: #343a40;
    color: white;
}

/* Numbers/Icons */
.margin-up-down {
    margin: 100px 0px;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.link-icon {
    color: #343a40;
    font-size: 7rem;
    transition: all 1s ease;
}

.link-icon-s {
    font-size: 6rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.dot {
    position: absolute;
    color: #343a40;
    font-size: 1rem;
    top: 83%;
    left: 100%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in;
}

.box:hover {
    background-color: transparent;
}

.box:hover .link-icon {
    color: #ffffff;
}

.box:hover .dot {
    color: #ffffff;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    width: 75%;
    font-size: 2rem;
    text-align: justify;
    padding-left: 2%;
}

/* Arrow to Top */
.arrow-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 0.2;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-box:hover {
    opacity: 1;
}

.arrow-icon {
    color: #000000;
    font-size: 4rem;
    transition: all 0.5s ease;
}

.arrow-icon:hover {
    color: #000000;
    transform: scale(1.3);
}

.arrow-icon:active {
    color: #ffffff;
    transform: scale(0.5);
    transition: 0ms;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
/* 
MY STORY
*/
.botom-container{
    margin-top: 150px;
    padding: 20px;
}
.botom-title{
    font-size: 4rem;
}

/* Get to Know Me Links */
.link-main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.link-main > h1 {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 4.5rem;
}

.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 250px;
    padding: 10px;
}
#title1 {
    transition-delay: 0s;
    transition: all 1s ease-in-out;
}
#icon1 {
    transition-delay: 1s;
}

#icon2 {
    transition-delay: 2s;
}

/* Footer */
footer {
    height: 15vh;
}
