
article{
    padding: 10% 20%;
    font-family: 'Times New Roman', Times, serif;
}
article h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin:20px 0;
}
article h2{
    font-size: 2rem;
    margin:20px 0;
}
article p{
    font-size: 1.5rem;
    margin:20px 0;
}